
:root {
    --bg-color-white: #ebebeb;
    --bg-color-grey: #dfdfdf;
    --bg-color-light-green: #a1c965;
    --bg-color-footer: #364043;

    --color-lighter-orange: #ff862a;
    --color-orange: #ef6d0a;
    --color-cyan: #18b4a4;
    --color-red: #d92222;
    --color-dark-green: #699d4b;
    --color-light-grey: #e5e5e5;
    --color-medium-grey: #bbbbbb;
    --color-icons: #8d8d8d;
    
    --font-color-light: #fff;
    --font-color-dark: #292c2c;
    --font-color-medium: #4f5357;
    --font-color-title-light: #ff9f55;
    --font-color-title-dark: #ef6d0a;

    --font-size-xsm: 0.95rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.1rem;
    --font-size-lg: 1.7rem;
    --font-size-xl: 2rem;

    --font-family-title: 'Poppins', serif;
    --font-family-body: 'Roboto', sans-serif;

    --gradient-bg: linear-gradient(
        180deg,
        rgb(143, 197, 102) 0%,
        rgb(80, 173, 106) 80%
    );
}

html, body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-white);
    background-image: var(--gradient-bg);
    color: var(--font-color-dark);
    padding: 0;
    margin: 0;
    font-family: var(--font-family-body);
}

.gradient-bg {
    background-color: var(--color-purple);
    background-image: var(--gradient-bg);
}

.gradient-bg-light {
background: #f2f2ed;
background: radial-gradient(circle,#f2f2ed 40%, #e3e3de 100%);
}

.hidden {
    display: none;
}

.sub-title {
    margin-top: -1rem;
}

h1,h2,h3,h4,h5 {
    font-family: var(--font-family-title);
    font-weight: 700;
    color: var(--font-color-dark);
    margin: 0;
}

h1 {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    margin: 0.2rem 0rem;
}

h3 {
    font-size: var(--font-size-md);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

h4 {
    font-size: var(--font-size-md);
    font-weight: 400;
}

h5 {
    font-family: var(--font-family-body);
    font-size: 1.05rem;
    font-weight: 700;
    margin: 0.15rem 0rem;
}

h5.color {
    color: var(--color-yellow);
}

p {
    font-family: var(--font-family-body);
    color: var(--font-color-dark);
    font-size: var(--font-size-md);
    font-weight: 400;
    margin: 0;
}

p.footer {
    font-size: var(--font-size-xsm);
}

a {
    color: var(--font-color-dark);
    font-size: var(--font-size-md);
    text-decoration: none;
}

a:hover {
    color: var(--color-lighter-orange);
}

a.footer {
    color: var(--color-lighter-orange);
    font-size: var(--font-size-xsm);
}

a.footer:hover {
    color: var(--font-color-light);
}

.bg-color {
  background-color: var(--bg-color-white);
}

.light {
    color: var(--font-color-light);
}

.dark {
    color: var(--font-color-dark);
}
 .title-dark {
    color: var(--font-color-title-dark);
 }

 .title-light {
    color: var(--font-color-title-light);
 }

 .dark-orange {
    color: var(--color-orange);
 }

.bold {
    font-weight: bold;
    color: var(--font-color-medium);
}

.text-muted {
    color: var(--font-color-medium);
    font-size: var(--font-size-sm);
}

.nav-bar {
    height:5.5rem;
    background-color: var(--bg-color-white);
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

li.nav {
    min-width: 4.5rem;
    padding: 0.9rem 1.1rem;
    text-align: center;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer {
    background-color: var(--bg-color-footer);
}

.btn {
    font-family: var(--font-family-title);
    background-color: var(--color-dark-green);
    color: var(--font-color-light);
    border: 0px;
    border-radius: 1.5rem;
    font-size: var(--font-size-xsm);
    padding: 0.5rem 1.25rem;
    margin: 0rem;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.btn.icon {
    width: 1.9rem;
    height: 1.9rem;
}

.btn svg {
  width: 1.75rem;
  height: 1.75rem;
  aspect-ratio: 1;
  pointer-events: none;
}

.btn:hover {
    background-color: color-mix(in srgb, var(--color-dark-green) 80%, black);
    color: var(--font-color-light);
}

.btn.back {
    background-color: var(--color-orange);
    color: var(--font-color-light);
}

.btn.back:hover {
   background-color: color-mix(in srgb, var(--color-orange) 85%, black); 
   color: var(--font-color-light);
}

.btn.edit {
    background-color: transparent;
    color: var(--color-icons);
    padding: 0rem;
}

.btn.edit:hover {
    color: var(--color-cyan);
}

.btn.add {
    background-color: var(--color-orange);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
}

.btn.add:hover {
    background-color: color-mix(in srgb, var(--color-orange) 85%, black);
}

.btn.delete {
    background-color: transparent;
    color: var(--color-icons);
    padding: 0rem;
}

.btn.delete:hover {
     color: var(--color-red);
}

.btn:disabled {
    background-color: var(--color-medium-grey);
    color: var(--font-color-medium);
}

.small {
    font-size: var(--font-size-xsm);
}

ul {
    display: flex;
    padding: 0rem;
    margin: 0rem;
}

li {
    list-style:none;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.shadow-under {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.border {
    border: 1px solid var(--color-dark-green);
}

.border-inside {
    border: 0.6rem solid var(--bg-color-white);
}
.border-light {
    border: 1px solid var(--color-grey);
}

.border-left {
    border-left: 6px solid var(--color-cyan);
}

.border-right {
    border-right: 1px solid var(--color-grey);
}

.border-x {
    border-left: 6px solid var(--color-cyan);
    border-right: 6px solid var(--color-cyan);
}

.border-bottom {
    border-bottom: 2px solid var(--color-dark-green);
}

.main-container {
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-medium-grey);
}

.border-page {
    background-color: var(--bg-color-grey);
    border: 10px solid var(--bg-color-white);
}

input {
    background-color: var(--bg-color-white);
    border: 1px solid var(--color-medium-grey);
    padding: 0.35rem;
}

textarea {
    min-height: 6rem;
    max-height: 20rem;
    background-color: var(--bg-color-white);
    border: 1px solid var(--color-medium-grey);
}

select {
    background-color: var(--bg-color-white);
    border: 1px solid var(--color-medium-grey);
    font-size: var(--font-size-md);
    padding: 0.35rem;
}

th.table-title {
    background-color: var(--color-dark-green);
    font-size: var(--font-size-sm);
    color: var(--font-color-light);
    padding: 1.5rem 0.75rem;
}

th {
    text-align: left;
    padding: 0.75rem 0.75rem;
}

td {
    text-align: left;
    padding: 0.5rem 0.75rem;
}

td.border-bottom {
    border-bottom: 1px solid var(--color-medium-grey);
}

tbody tr:nth-child(odd) {
    background-color: color-mix(in srgb, var(--color-light-grey) 98%, black);
}

tbody tr:nth-child(even) {
    background-color: color-mix(in srgb, var(--color-light-grey) 94%, black);
}

tbody tr:hover {
    background-color: #d4e2d0;
}

.action-cell-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Extra large devices (extra large laptops and desktops, 2000px and up) */
@media only screen and (min-width: 2000px) {
   
    .nav-bar {
        height: 6.2rem;
    }
}

